.accordion-list .accordion-header {
  text-align: right;
}

.accordion-list .accordion-header .add-button {
  margin-left: 5px;
}

.accordion-list .accordion-header .input.search {
  display: inline-block;
}

.accordion-list p.record-count {
  text-align: right;
  margin-top: 10px;
}

.accordion-list .footer {
  margin-top: 15px;
}
