.data-table .ui.table .actions-cell {
  white-space: nowrap;
  width: 1px;
}

.data-table .empty-button {
  display: inline;
  margin-left: 5px;
  margin-right: 4px;
}

.data-table .empty-container {
  font-size: 1.1em;
  padding: 15px;
}

.data-table .footer {
  margin-top: 10px;
}

.data-table .header {
  margin-bottom: 10px;
}

.data-table.ui.celled.table tr th {
  position: relative;
}

.data-table.ui.celled.table tr td.actions-cell {
  white-space: nowrap;
}