.tabbed-modal.ui .modal-header .ui.menu {
  max-width: 100%;
  overflow: auto;
  padding: 5px 0px 5px 0px;
}

.tabbed-modal.ui .modal-header.inline-header .ui.menu {
  display: inline-flex;
  margin-left: 30px;
}