@theme {
  --color-primary-50: #F4F6FB;
  --color-primary-100: #E9ECF5;
  --color-primary-200: #CED8E9;
  --color-primary-300: #A2B6D7;
  --color-primary-400: #718FBF;
  --color-primary-500: #4F72A8;
  --color-primary-600: #43639D;
  --color-primary-700: #324872;
  --color-primary-800: #2C3E60;
  --color-primary-900: #293651;

  --color-content-primary: var(--color-zinc-950);
  --color-content-seconday: var(--color-zinc-500);
  --color-content-tertiary: var(--color-zinc-400);

  --color-content-inverse-primary: #fff;
  --color-content-inverse-secondary: var(--color-zinc-400);
  --color-content-inverse-tertiary: var(--color-zinc-500);

  --font-sans: 'Inter', sans-serif;
}

@layer base {

  button,
  [role='button'] {
    cursor: pointer;
  }

  button:disabled,
  [role='button']:disabled {
    cursor: default;
  }
}