.nested-accordion .ui.icon.button.accordion-button {
  background-color: transparent;
  display: inline-block;
}

.nested-accordion .ui.icon.button.accordion-button.hidden i {
  visibility: hidden;
}

.nested-accordion .ui.icon.button.inverted.accordion-button {
  box-shadow: none !important;
  color: #fff;
}

.nested-accordion.ui.styled.accordion .title {
  color: rgba(0,0,0,.6);
}

.nested-accordion .title > .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nested-accordion .title > .container > div:first-child {
  flex-grow: 1;
  white-space: nowrap;
}

.nested-accordion .title > .container > div:first-child > .item-container {
  display: inline-block;
  width: 100%;
}

.nested-accordion .title > .container > .right-container {
  margin-left: 1em;
  text-align: right;
  display: flex;
  align-items: center;
}

.nested-accordion .title > .container > .right-container > .row-select-checkbox {
  margin-left: 1.5em;
}
