@layer base {
  button,
  [role='button'] {
    cursor: pointer;
  }

  button:disabled,
  [role='button']:disabled {
    cursor: default;
  }
}

@theme {
  --color-event-selected: #3758F9;
  --color-gray-1000: #505A6A;
  --color-muted: #0005119e;
  --color-primary: #073B4C;
  --color-secondary: var(--color-neutral-200);

  --font-sans: Inter;
}