.props-table.ui.table {
  margin-bottom: 30px;
}

.props-table.ui.table > tbody > tr > td.type {
  color: rgb(147, 41, 129);
}

.props-table.ui.table > tbody > tr > td.description {
  font-size: 0.875rem;
  line-height: 1.5;
  letter-spacing: 0px;
  font-family: "IBM Plex Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-weight: 400;
  padding-right: 20px;
  padding-top: 12px;
  padding-bottom: 12px;
  color: rgb(62, 80, 96);
}

.props-table.ui.table > tbody > tr > td.description .code-container {
  background-color: #F8F8F8;
  border: 1px solid #EEEEEE;
  border-radius: 3px;
  color: rgba(51,51,51,0.9);
  margin: 4px 0px;
  white-space: pre;
}

.props-table.ui.table > tbody > tr > td.description code {
  font-size: 13px;
  line-height: 1;
  margin: 0px 2px;
  padding: 3px 5px;
}

.props-table.ui.table > tbody > tr > td.description span code {
  font-size: 13px;
  line-height: 1;
  margin: 0px;
  padding: 0px;
}

.props-table.ui.table > tbody > tr > td:not(.description) {
  font-weight: 400;
  font-family: Consolas, Menlo, Monaco, "Andale Mono", "Ubuntu Mono", monospace;
  -webkit-font-smoothing: subpixel-antialiased;
  font-size: 0.8125rem;
}
