.tags-list {
  display: flex;
  flex-wrap: wrap;
}

.tags-list .tag {
  background-color: red;
  display: inline;
  margin: 5px;
  padding: 7px;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -khtml-border-radius: 10px
}