.accordion-items-list .accordion-list-chevron {
  transition: transform 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordion-items-list .accordion-list-trigger[data-state='open'] > .accordion-list-chevron {
  transform: rotate(90deg);
}

.accordion-items-list .accordion-list-content {
  overflow: hidden;
}

.accordion-items-list .accordion-list-content[data-state="closed"] {
  visibility: hidden;
  height: 0;
}

.accordion-items-list .accordion-list-content[data-state='open'] {
  animation: slideDown 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

.accordion-items-list .accordion-list-content[data-state='closed'] {
  animation: slideUp 300ms cubic-bezier(0.87, 0, 0.13, 1);
}

@keyframes slideDown {
  from {
    height: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
  }
}

@keyframes slideUp {
  from {
    height: var(--radix-accordion-content-height);
  }
  to {
    height: 0;
  }
}